body {
  height: 500px;
  width: 300px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  border-style: none;
}

button {
  border-radius: 50px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border: 0px solid black;
  -webkit-box-shadow: -7px 12px 24px -10px rgba(0, 0, 0, 0);
  box-shadow: -7px 12px 24px -10px rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  background-color: rgb(255, 225, 225);
}

button:hover {
  -webkit-box-shadow: -7px 12px 24px -10px rgba(0, 0, 0, 0.55);
  box-shadow: -7px 12px 24px -10px rgba(0, 0, 0, 0.55);
}

.App-background {
  background-color: #eb4034;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gap {
  margin-top: 30px;
}

.centerText {
  text-align: center;
  line-height: 2rem;
}

.customForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}