.yj-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    color: red;
    z-index: 110;
    background-color: aliceblue;
}

.button-close {
    background-color: rgb(220, 220, 220);
    color: black;
    height: auto;
    margin: 10px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    transition: 0.5s ease all;
}

.animate-all {
    transition: 0.5s ease all;
}

.button-close:hover {
    background-color: rgb(255, 101, 101);
    transition: 0.5s ease all;
    font-size: 20px;
}

.linkOverlay {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
    position: relative;
    left: 0px;
    top: 0px;
    max-width: 250px;
    height: auto;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    transition: 1s ease all;
}

.thumbnailAdCount {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: #b62222;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    transition: 1s ease all;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.commentSentiment {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: #535353;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    transition: 1s ease all;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.topHeader {
    display: flex;
    position: fixed;
    background-color: rgb(255, 101, 101);
    height: 30px;
    width: 100%;
    color: white;
    z-index: 9999;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}